.layer
{
	position: absolute;
	left: 0px;
	top: 0px;
	padding: 0px;
	margin: 0px;
	background-color: gray;
	width:100%;
	height:100%;
	
	overflow: hidden;
	display: none;

	opacity:0.5;/*其他，透明度50%*/

}
.upload
{
	position: absolute;
	left: 32%;
	top: 260px;
	padding: 0px;
	margin: 0px;
	background-color: white;
	width:400px;

	display: none;
}
.boss
{
	position: absolute;
	left: 28%;
	top: 15%;
}
.headerlinks
{
	margin-bottom: 40px;
	height: 60px;
	width: 120%;
	background-color: #2f8373;
}

.fieldset_ly
{

	border-color: rgb(176,176,176);
	float: left;
	border-left: none;
	border-bottom: none;
	border-right: none;
}
.base
{
	text-align:center;
}
.countTime
{
	border: none;
	width: 700px;
	margin-bottom: 60px;
}
.userMessage
{
	width: 200px;
	margin-right: 20px;
	position: absolute;
	top: 3%;
	left: 4.5%;
	z-index: 10px;

}
.taskMessage
{
	width: 500px;
	position: absolute;
	top: 3%;
	left: 38%;
	z-index: 10px;
}
.logoWords
{
	position: absolute;
	left: 17%;
}
.headerSetel
{
	width: 400px;
	height: 60px;
	position: absolute;
	right: 17%;
}
.body_ly
{
	width: 800px;
	position: absolute;
	left: -8%;
	top: 85%;
}

a {
	font-size:13px;
	color: white;
	padding: 10px;
	text-decoration:none;
	margin-top: 12px;
}   
a:link {color: blue; text-decoration:none;} 
a:active:{color: red; }
a:visited {color:white;text-decoration:none;} 
a:hover {color: red; text-decoration:underline;} 

.taskDetailSpan{
	display: none;
}
.missionOnGoing{
	width: 400px;
}